In [553]:
import wooldridge as wd
import pandas as pd

In [554]:
pd.set_option("display.max_columns", None)

In [555]:
df = wd.data('jtrain')

In [556]:
df

,year,fcode,employ,sales,avgsal,scrap,rework,tothrs,union,grant,d89,d88,totrain,hrsemp,lscrap,lemploy,lsales,lrework,lhrsemp,lscrap_1,grant_1,clscrap,cgrant,clemploy,clsales,lavgsal,clavgsal,cgrant_1,chrsemp,clhrsemp
0,1987,410032.0,100.0,47000000.0,35000.0,NaN,NaN,12.0,0,0,0,0,100.0,12.000000,NaN,4.605170,17.665659,NaN,2.564949,NaN,0,NaN,0,NaN,NaN,10.463103,NaN,NaN,NaN,NaN
1,1988,410032.0,131.0,43000000.0,37000.0,NaN,NaN,8.0,0,0,0,1,50.0,3.053435,NaN,4.875197,17.576710,NaN,1.399565,NaN,0,NaN,0,0.270027,-0.088949,10.518673,0.055570,0.0,-8.946565,-1.165385
2,1989,410032.0,123.0,49000000.0,39000.0,NaN,NaN,8.0,0,0,1,0,50.0,3.252033,NaN,4.812184,17.707331,NaN,1.447397,NaN,0,NaN,0,-0.063013,0.130621,10.571317,0.052644,0.0,0.198597,0.047832
3,1987,410440.0,12.0,1560000.0,10500.0,NaN,NaN,12.0,0,0,0,0,12.0,12.000000,NaN,2.484907,14.260197,NaN,2.564949,NaN,0,NaN,0,NaN,NaN,9.259130,NaN,NaN,NaN,NaN
4,1988,410440.0,13.0,1970000.0,11000.0,NaN,NaN,12.0,0,0,0,1,13.0,12.000000,NaN,2.564949,14.493544,NaN,2.564949,NaN,0,NaN,0,0.080043,0.233347,9.305651,0.046520,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,1988,419483.0,108.0,11500000.0,14810.0,25.0,NaN,0.0,1,0,0,1,0.0,0.000000,3.218876,4.682131,16.257858,NaN,0.000000,2.995732,0,0.223144,0,-0.208218,0.044453,9.603058,0.059321,0.0,0.000000,0.000000
467,1989,419483.0,129.0,12000000.0,14227.0,30.0,NaN,20.0,1,0,1,0,20.0,3.100775,3.401197,4.859812,16.300417,NaN,1.411176,3.218876,0,0.182322,0,0.177681,0.042559,9.562897,-0.040161,0.0,3.100775,1.411176
468,1987,419486.0,80.0,7000000.0,16000.0,NaN,NaN,0.0,0,0,0,0,0.0,0.000000,NaN,4.382027,15.761420,NaN,0.000000,NaN,0,NaN,0,NaN,NaN,9.680344,NaN,NaN,NaN,NaN
469,1988,419486.0,90.0,8500000.0,17000.0,NaN,NaN,0.0,0,0,0,1,0.0,0.000000,NaN,4.499810,15.955577,NaN,0.000000,NaN,0,NaN,0,0.117783,0.194157,9.740969,0.060625,0.0,0.000000,0.000000
470,1989,419486.0,100.0,9900000.0,18000.0,NaN,NaN,40.0,0,1,1,0,90.0,36.000000,NaN,4.605170,16.108046,NaN,3.610918,NaN,0,NaN,1,0.105361,0.152469,9.798127,0.057158,0.0,36.000000,3.610918

In [557]:
df["firm_sub_1988"] = (df["year"] == 1988) & (df["grant"] == 1).astype(int)
df["firm_sub_1989"] = (df["year"] == 1989) & (df["grant"] == 1).astype(int)
df["firm_sub_not"] = (df["grant"] == 0).astype(int)

In [558]:
df.iloc[170:190][["year", "fcode", "grant", "firm_sub_1988", "firm_sub_1989", "firm_sub_not"]]

     year     fcode  grant  firm_sub_1988  firm_sub_1989  firm_sub_not
170  1989  410680.0      0          False          False             1
171  1987  410685.0      0          False          False             1
172  1988  410685.0      0          False          False             1
173  1989  410685.0      0          False          False             1
174  1987  410686.0      0          False          False             1
175  1988  410686.0      0          False          False             1
176  1989  410686.0      0          False          False             1
177  1987  418006.0      0          False          False             1
178  1988  418006.0      1           True          False             0
179  1989  418006.0      0          False          False             1
180  1987  418007.0      0          False          False             1
181  1988  418007.0      0          False          False             1
182  1989  418007.0      0          False          False             1
183  1987  418008.0      0          False          False             1
184  1988  418008.0      1           True          False             0
185  1989  418008.0      0          False          False             1
186  1987  418011.0      0          False          False             1
187  1988  418011.0      1           True          False             0
188  1989  418011.0      0          False          False             1
189  1987  418013.0      0          False          False             1

In [560]:
df.head()

,year,fcode,employ,sales,avgsal,scrap,rework,tothrs,union,grant,d89,d88,totrain,hrsemp,lscrap,lemploy,lsales,lrework,lhrsemp,lscrap_1,grant_1,clscrap,cgrant,clemploy,clsales,lavgsal,clavgsal,cgrant_1,chrsemp,clhrsemp,firm_sub_1988,firm_sub_1989,firm_sub_not
0,1987,410032.0,100.0,47000000.0,35000.0,NaN,NaN,12.0,0,0,0,0,100.0,12.000000,NaN,4.605170,17.665659,NaN,2.564949,NaN,0,NaN,0,NaN,NaN,10.463103,NaN,NaN,NaN,NaN,False,False,1
1,1988,410032.0,131.0,43000000.0,37000.0,NaN,NaN,8.0,0,0,0,1,50.0,3.053435,NaN,4.875197,17.576710,NaN,1.399565,NaN,0,NaN,0,0.270027,-0.088949,10.518673,0.055570,0.0,-8.946565,-1.165385,False,False,1
2,1989,410032.0,123.0,49000000.0,39000.0,NaN,NaN,8.0,0,0,1,0,50.0,3.252033,NaN,4.812184,17.707331,NaN,1.447397,NaN,0,NaN,0,-0.063013,0.130621,10.571317,0.052644,0.0,0.198597,0.047832,False,False,1
3,1987,410440.0,12.0,1560000.0,10500.0,NaN,NaN,12.0,0,0,0,0,12.0,12.000000,NaN,2.484907,14.260197,NaN,2.564949,NaN,0,NaN,0,NaN,NaN,9.259130,NaN,NaN,NaN,NaN,False,False,1
4,1988,410440.0,13.0,1970000.0,11000.0,NaN,NaN,12.0,0,0,0,1,13.0,12.000000,NaN,2.564949,14.493544,NaN,2.564949,NaN,0,NaN,0,0.080043,0.233347,9.305651,0.046520,0.0,0.000000,0.000000,False,False,1

In [561]:
df = pd.concat([df.set_index("fcode"), df.groupby(["fcode"])["firm_sub_1988"].max().astype(int).rename("grant_1988")], axis=1).reset_index()
df = pd.concat([df.set_index("fcode"), df.groupby(["fcode"])["firm_sub_1989"].max().astype(int).rename("grant_1989")], axis=1).reset_index()
df = pd.concat([df.set_index("fcode"), (df.groupby(["fcode"])["firm_sub_not"].sum() == 3).astype(int).astype(int).rename("grant_no")], axis=1).reset_index()

In [562]:
(df.groupby(["fcode"])["firm_sub_not"].sum() == 3).astype(int)

fcode
410032.0    1
410440.0    1
410495.0    1
410500.0    1
410501.0    1
           ..
419473.0    0
419479.0    1
419482.0    1
419483.0    1
419486.0    0
Name: firm_sub_not, Length: 157, dtype: int32

In [563]:
df.iloc[170: 180]

,fcode,year,employ,sales,avgsal,scrap,rework,tothrs,union,grant,d89,d88,totrain,hrsemp,lscrap,lemploy,lsales,lrework,lhrsemp,lscrap_1,grant_1,clscrap,cgrant,clemploy,clsales,lavgsal,clavgsal,cgrant_1,chrsemp,clhrsemp,firm_sub_1988,firm_sub_1989,firm_sub_not,grant_1988,grant_1989,grant_no
170,410680.0,1989,52.0,5670000.0,22360.0,NaN,NaN,70.0,0,0,1,0,9.0,12.115385,NaN,3.951244,15.550699,NaN,2.573786,NaN,0,NaN,0,-0.159630,-0.072608,10.015029,0.057054,0.0,8.017025,0.944867,False,False,1,0,0,1
171,410685.0,1987,24.0,2213235.0,20004.0,0.14,NaN,NaN,0,0,0,0,24.0,NaN,-1.966113,3.178054,14.609966,NaN,NaN,NaN,0,NaN,0,NaN,NaN,9.903687,NaN,NaN,NaN,NaN,False,False,1,0,0,1
172,410685.0,1988,20.0,2100943.0,19078.0,0.16,NaN,NaN,0,0,0,1,20.0,NaN,-1.832582,2.995732,14.557897,NaN,NaN,-1.966113,0,0.133531,0,-0.182322,-0.052070,9.856291,-0.047397,0.0,NaN,NaN,False,False,1,0,0,1
173,410685.0,1989,20.0,2174049.0,21099.0,0.23,NaN,NaN,0,0,1,0,20.0,NaN,-1.469676,2.995732,14.592102,NaN,NaN,-1.832582,0,0.362906,0,0.000000,0.034205,9.956981,0.100690,0.0,NaN,NaN,False,False,1,0,0,1
174,410686.0,1987,6.0,2100000.0,16640.0,NaN,NaN,0.0,0,0,0,0,0.0,0.000000,NaN,1.791759,14.557447,NaN,0.000000,NaN,0,NaN,0,NaN,NaN,9.719564,NaN,NaN,NaN,NaN,False,False,1,0,0,1
175,410686.0,1988,7.0,1800000.0,18720.0,NaN,NaN,10.0,0,0,0,1,2.0,2.857143,NaN,1.945910,14.403297,NaN,1.349927,NaN,0,NaN,0,0.154151,-0.154150,9.837348,0.117784,0.0,2.857143,1.349927,False,False,1,0,0,1
176,410686.0,1989,6.0,1600000.0,20800.0,NaN,NaN,0.0,0,0,1,0,0.0,0.000000,NaN,1.791759,14.285514,NaN,0.000000,NaN,0,NaN,0,-0.154151,-0.117784,9.942708,0.105360,0.0,-2.857143,-1.349927,False,False,1,0,0,1
177,418006.0,1987,63.0,NaN,25900.0,NaN,NaN,0.0,0,0,0,0,0.0,0.000000,NaN,4.143135,NaN,NaN,0.000000,NaN,0,NaN,0,NaN,NaN,10.161998,NaN,NaN,NaN,NaN,False,False,1,1,0,0
178,418006.0,1988,57.0,NaN,25300.0,NaN,NaN,45.0,0,1,0,1,24.0,18.947369,NaN,4.043051,NaN,NaN,2.993097,NaN,0,NaN,1,-0.100083,NaN,10.138559,-0.023438,0.0,18.947369,2.993097,True,False,0,1,0,0
179,418006.0,1989,59.0,NaN,26800.0,NaN,NaN,40.0,0,0,1,0,35.0,23.728813,NaN,4.077538,NaN,NaN,3.207969,NaN,1,NaN,-1,0.034486,NaN,10.196157,0.057598,1.0,4.781445,0.214872,False,False,1,1,0,0

In [564]:
df88 = df.groupby(["year", "grant_1988"]).agg({"fcode": "count", "hrsemp": ["mean", "std"]}).reset_index(level=1)
df88 = df88.loc[df88.grant_1988 == 1].drop(["grant_1988"], level=0, axis=1).reset_index()
df88.columns = ["year", "sum", "mean", "std"]
df88["descricao"] = "Firmas que receberam subsídio em 1988"
df88 = df88.groupby(["descricao", "year"]).mean()
df88

                                            sum       mean        std
descricao                             year
Firmas que receberam subsídio em 1988 1987   36   7.672105  19.574833
                                      1988   36  35.978342  36.956019
                                      1989   36  10.055916  19.474582

In [565]:
df89 = df.groupby(["year", "grant_1989"]).agg({"fcode": "count", "hrsemp": ["mean", "std"]}).reset_index(level=1)
df89 = df89.loc[df89.grant_1989 == 1].drop(["grant_1989"], level=0, axis=1).reset_index()
df89.columns = ["year", "sum", "mean", "std"]
df89["descricao"] = "Firmas que receberam subsídio em 1989"
df89 = df89.groupby(["descricao", "year"]).mean()
df89

                                            sum       mean        std
descricao                             year
Firmas que receberam subsídio em 1989 1987   30   6.124542  11.309335
                                      1988   30   9.315550  17.360545
                                      1989   30  50.649975  36.217713

In [566]:
dfnot = df.groupby(["year", "grant_no"]).agg({"fcode": "count", "hrsemp": ["mean", "std"]}).reset_index(level=1)
dfnot = dfnot.loc[dfnot.grant_no == 1].drop(["grant_no"], level=0, axis=1).reset_index()
dfnot.columns = ["year", "sum", "mean", "std"]
dfnot["descricao"] = "Firmas que não receberam subsídio"
dfnot = dfnot.groupby(["descricao", "year"]).mean()
dfnot

                                        sum       mean        std
descricao                         year
Firmas que não receberam subsídio 1987   91  10.702936  18.314595
                                  1988   91   9.817479  18.627084
                                  1989   91  12.352485  23.777301

In [567]:
df2 = pd.concat([df88, df89, dfnot])
df2

                                            sum       mean        std
descricao                             year
Firmas que receberam subsídio em 1988 1987   36   7.672105  19.574833
                                      1988   36  35.978342  36.956019
                                      1989   36  10.055916  19.474582
Firmas que receberam subsídio em 1989 1987   30   6.124542  11.309335
                                      1988   30   9.315550  17.360545
                                      1989   30  50.649975  36.217713
Firmas que não receberam subsídio     1987   91  10.702936  18.314595
                                      1988   91   9.817479  18.627084
                                      1989   91  12.352485  23.777301